.char-select-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
}
.choose-char-title {
    font-size: 100px;
    font-family: 'Alegreya Sans', sans-serif;  
}


.hero-card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 80%
}


.hero-links {
    text-decoration: none
}