.hero_Creation_Component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 80px);
    width: 100vw;
    background: #F7F9FF;
}

.hero_Creation_Box {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.classes {
    display: flex
}

.indClass {
    height: 120px;
    position: relative
}

.classImg {
    height: 120px
}

.classInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    position: absolute;
    top: 60px
}

.classStats {
    display: flex;
    width: 100%
}

.raceButtonHolder {
    display: flex
}

.raceCardHolder {
    display: flex;
    justify-content: space-around
}

h5 {
    margin: 0
}

.stat-selectors {
    width: 400px;
}
.stat-allocation {
    width: 70%;

    display: flex;
    justify-content: space-between
}
.stat-all-name {
    width: 40%
}

.example-card {
    position: absolute;

    right: 0;
    top: 80px;
}

.input-modal {
    position: absolute;
    width: 30vw;
    height: 40vh;
    left: 35vw;
    top: 30vh;
    background-color: blue;
}