.pixPage {
  display: flex;
  
  width: 100vw;
  min-width: 1000px;
  height: calc(100vh - 80px);
  background: #1C448E
}

.PixelArt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  width: 100%;
}


.pix-art-title {
  font-size: 100px;
  font-family: 'Alegreya Sans', sans-serif;  
  
}

.PixelBox {
  box-shadow: 0px 0px 50px 13px rgba(79, 122, 150, 1);
  background-image: url('https://www.bio.cmu.edu/labs/gittis/pictures/blank.png')
}


.pallet-button{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('http://shopforclipart.com/images/artist-palette-cliparts/6.jpg');
  background-size: 50px 50px;

  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-bottom: solid rgba(77, 77, 77, 0.726) 2px;
  bottom: 302px;
  right: 0px;
  background-color: #F7F9FF
}
.pallet-model {
  position: absolute;
  width: 400px;
  height: 300px;

  border: solid black 2px;
  right: -402px;
  bottom: 0px;

  display: flex;
  justify-content: space-between;
  background: #F7F9FF
}


.pallet-opening{
  animation: palletOpening 1s forwards;
}
.pallet-closing{
  animation: palletClosing 1s forwards;
}

@keyframes palletOpening {
  from{
    right: -402px;
  }
  to{
    right: 0px;
  }
}
@keyframes palletClosing {
  from{
    right: 0px;
  }
  to{
    right: -402px;
  }
}

.colorChooser {
    display: flex;
    justify-content: space-around
  }
  
  .columns {
    display: flex;
    flex-wrap: wrap
  }

  

  .inpBox {
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .preview-image {
    height: 100px;
  }

  .submit-section {
    width: 100%;
  }