.mapComponent {
  display: flex;
  background: #F7F9FF;

  width: calc(100vw - 80px);
  height: calc(100vh - 80px)
}




.row {
    display: flex
  }



.closeMonsters {
  display: flex;
  flex-direction: column;
}

.directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  width: 150px;
  height: 150px;
}

.left-right {
  display: flex;
  justify-content: space-between;
  width: 150px;

}

.direction {
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 0
}

.up-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.up {
  border-bottom-left-radius: 50px 30px;
  border-bottom-right-radius: 50px 30px;
}
.left-container {
  width: 50px;
  height: 50px;
}
.left {
  display: flex;
  justify-self: flex-start;
  border-top-right-radius: 30px 50px;
  border-bottom-right-radius: 30px 50px;
}
.center-divider {
  width: 50px;
  height: 50px;
}
.right-container {
  width: 50px;
  height: 50px;
}
.right {
  display: flex;
  justify-self: flex-end;
  border-bottom-left-radius: 30px 50px;
  border-top-left-radius: 30px 50px;
}
.down-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.down {
  border-top-left-radius: 50px 30px;
  border-top-right-radius: 50px 30px;
}



.retreat-container {
  height: 500px;
  width: 500px;
  border: solid black 3px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.retreat {

  animation: retreat .3s infinite alternate-reverse;
}

.retreat-ground {
  width: 100%;
  height: 100px;

  animation: ground 5s forwards;
  /* box-shadow: inset 500px 0 0 0 #64A87D; */
  background: linear-gradient(to bottom right, #64A87D , #F7D288 )

}
.ground-container {
  background: linear-gradient(to bottom right, #F7D288, #64A87D  )
}
@keyframes retreat {
  from {

  }
  to {
    transform: translateY(30px) 
  }
}
@keyframes ground {
  from {
  }
  to {
    opacity: 0
  }
}